@model AppResenas.Models.Resena

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Resena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="texto" class="control-label"></label>
                <input asp-for="texto" class="form-control" />
                <span asp-validation-for="texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tituloLibro" class="control-label"></label>
                <input asp-for="tituloLibro" class="form-control" />
                <span asp-validation-for="tituloLibro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="puntaje" class="control-label"></label>
                <input asp-for="puntaje" class="form-control" />
                <span asp-validation-for="puntaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
